* {
  @apply ease-in-out;
}

button {
  cursor: pointer;
}

body,
textarea, {
  overflow: auto;
  @apply scrollbar scrollbar-thumb-rounded;
  @apply scrollbar-thumb-gray-400 hover:scrollbar-thumb-gray-500;
  @apply scrollbar-track-gray-300;
}

::-webkit-scrollbar {
  width: 6px !important;
}

ins, del {
  padding: 2px 0;
  @apply text-white no-underline
}

ins {
  @apply bg-green-400
}

del {
  @apply bg-red-400 text-white;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
  transition-property: opacity, transform;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

textarea {
  @apply font-sans text-base;
}

.b-button > *:not(:last-child) {
  @apply mr-3;
}

.v-popper__inner {
  padding: 15px 18px !important;

  @apply max-w-xl;
}

.v-toast {
  @apply '!p-3';

  &__item {
    @apply font-sans text-sm;

    &--default {
      @apply '!bg-indigo-400';
    }

    &--success {
      @apply '!bg-green-400';
    }

    &--info {
      @apply '!bg-blue-400';
    }

    &--warning {
      @apply '!bg-orange-400';
    }

    &--error {
      @apply '!bg-red-400';
    }
  }
}

.alert---bordered {
  @apply self-center border w-1/2 text-center;
}

.dropdown__item {
  @apply block px-3 py-2 text-gray-700 cursor-pointer transition duration-150 ease-in-out select-none hover:bg-gray-100 active:bg-gray-200
}

.nuxt-link {
  @apply flex flex-row justify-between items-center px-4 py-2 mt-2;
  @apply text-sm font-semibold text-indigo-200 rounded-lg;
  @apply transition duration-75 ease-in-out cursor-pointer select-none;
  @apply hover:bg-indigo-800;
  @apply active:bg-indigo-900;
  @apply focus:outline-none;

  &.active {
    @apply bg-indigo-900 hover:bg-indigo-900 text-indigo-100;
  }

  &.disabled {
    @apply pointer-events-none cursor-default opacity-50;
  }
}

.updown {
  &__item {
    @apply flex justify-between items-center p-3 rounded shadow-sm text-gray-600 bg-white transition duration-200 select-none;
  }

  &__online-indicator {
    @apply relative inline-flex rounded-full h-2.5 w-2.5;
  }

  &__online-pulse {
    @apply absolute inline-flex h-full w-full rounded-full opacity-75;
  }
}

.options {
  @apply flex justify-between items-center p-3 w-100 border-b-1 last:border-b-0 text-sm;

  &__item {
    @apply text-xs font-mono;

    &--success {
      @apply text-green-400;
    }

    &--danger {
      @apply text-red-400;
    }
  }
}

.badge {
  @apply px-3 py-1 rounded shadow-sm bg-white text-gray-600 text-xs w-max;

  &--indigo {
    @apply bg-indigo-100 text-indigo-500;
  }

  &--success {
    @apply bg-green-100 text-green-700;
  }

  &--warn {
    @apply bg-orange-100 text-orange-700;
  }

  &--danger {
    @apply bg-red-100 text-red-700;
  }
}

.fade-in {
  animation: fadeIn 150ms forwards;
}

.animate {
  &-bounce {
    animation: bounce 2s infinite ease-in-out;
  }

  &-bounce-reverse {
    animation: bounce-reversed 2s infinite ease-in-out;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }
}

@keyframes bounce-reversed {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }

  100% {
    opacity: 1;
    transform: scale(.999);
  }
}

::selection {
  @apply bg-purple-200 text-purple-600;
}
