.b-context-menu {
  @apply fixed border border-gray-300 rounded-lg top-0 left-0 z-10 shadow-lg transform-gpu overflow-hidden select-none;

  &__body {
    @apply w-40 bg-white transform-gpu;

    animation: contextMenuFadeIn 50ms forwards;
  }

  &__item {
    @apply p-3 text-gray-600 text-sm cursor-pointer;
    @apply hover:bg-gray-100;

    &.disabled {
      @apply opacity-60 pointer-events-none;
    }
  }
}

@keyframes contextMenuFadeIn {
  from {
    transform: scale(.95);
  }

  to {
    transform: scale(1);
  }
}
